/* <-- Media queries --> */

@media screen and (max-width: 1350px) {
    .Main .About-me {
        justify-content: center;
        align-items: center;
    }

    .Main .About-me .Info-me {
        margin-right: 5rem;
    }

    .Main .About-me .Info-me h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1260px) {
    .Text-Banner h1 {
        font-size: 90px;
    }

    .Text-Banner h2 {
        font-size: 70px;
    }

    .Proyect{
        padding: 0;
        margin: 2rem;
    }

    .Proyect .Info-proyect{
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .bg{
        display: none;
    }
    .Main .About-me {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        order: 0;
    }

    .Main .About-me .Info-me {
        width: 100%;
        margin-right: 0;
        order: 2;
        border-radius: 45px;
        background: #212227;
        box-shadow: 5px 5px 0px #0d0e10, -5px -5px 0px #35363e;
    }

    .Main .About-me .Info-me h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .proyect-container{
        flex-direction: column;
    }

    .Main h2{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 931px) {
    h3{
        font-size: 28px;
        margin-bottom: 0.5rem;
    }

    .Text-Banner span {
        font-size: 24px;
    }

    .Header-ul {
        flex-direction: row;
        padding: 1em;
        justify-content: center;
    }
    
    .Footer p:hover{
        pointer-events: none;
    }

    .Text-Banner{
        padding: 1.5rem;
    }

    .Text-Banner h1 {
        font-size: 60px;
    }

    .Text-Banner h2 {
        font-size: 40px;
    }

    .Text-Banner span {
        flex-wrap: wrap;
        font-size: 18px;
    }
    .Container-gif #image-cat{
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 28px!important;
    }

    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px!important;
    }
    .Header-nav{
        width: 100%;
    }
    .Main h2 {
        margin-bottom: 1.5rem;
    }

    .about-me{
        padding: 1rem;
    }

    .info-me {
        padding: 2rem;
        border-radius: 20px;
    }

    .info-me p {
        padding: 0.2rem;
        margin: 0;
    }

    .button{
        margin-top: 1rem;
    }

    .Proyects{
        padding: 1rem;
    }

    .Proyect{
        margin: 0;
        border-radius: 20px;
    }

    .Container-gif img{
        width: 100%;
        height: auto;

    }
}

@media screen and (max-width: 400px) {
    .Text-Banner{
        padding: 0.5rem;
    }

    .about-me{
        padding: 0;
    }

    .info-me{
        padding: 0.8rem;
    }

    .Proyects{
        padding: 0;
    }
}

