/* <-- Media queries --> */

@media screen and (max-width: 1350px) {
    .Main .About-me {
        justify-content: center;
        align-items: center;
    }

    .Main .About-me .Info-me {
        margin-right: 5rem;
    }

    .Main .About-me .Info-me h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .Main .About-me .Selfie-me img {
        width: 330px;
    }
}

@media screen and (max-width: 1024px) {
    .Text-Banner h1 {
        font-size: 90px;
    }

    .Text-Banner h2 {
        font-size: 70px;
    }

    .Proyect{
        padding: 0;
        margin: 2rem;
    }

    .Proyect .Info-proyect{
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .Main .About-me {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        order: 0;
    }

    .Main .About-me .Info-me {
        width: 100%;
        margin-right: 0;
        order: 2;
        border-radius: 45px;
        background: #212227;
        box-shadow: 5px 5px 0px #0d0e10, -5px -5px 0px #35363e;
    }

    .Main .About-me .Info-me h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .Main .About-me .Selfie-me {
        order: 1;
    }

    .Main .About-me .Selfie-me h2 {
        margin-bottom: 40px;
    }

    .Main .About-me .Selfie-me img {
        width: 330px;
    }

    .Proyect {
        flex-wrap: wrap;
    }

    .Contact .Form{
        flex-wrap: wrap;
    }

    .Main h2{
        margin-bottom: 0;
    }
    .Contact .Form .Form-container{
        width: 100%;
    }
}

@media screen and (max-width: 931px) {
    h3{
        font-size: 28px;
        margin-bottom: 0.5rem;
    }
    .Header-nav {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        height: 0vh;
        overflow: hidden;
        pointer-events: none;
    }

    .Header-nav.isActive {
        height: 20vh;
        pointer-events: auto;
    }

    .Header-social .Header-li .Header-a {
        margin-top: 1em;
        padding: 1em;
    }

    .Header-button {
        display: block;
    }

    .Text-Banner span {
        font-size: 24px;
    }

    .Header-ul {
        flex-direction: row;
        padding: 1em;
        justify-content: center;
    }

    .Header-li {
        margin: 0.5em 0;
    }
    
    .Footer p:hover{
        pointer-events: none;
    }
}

@media screen and (max-width: 668px) {
    .Text-Banner h1 {
        font-size: 60px;
    }

    .Text-Banner h2 {
        font-size: 40px;
    }

    .Text-Banner span {
        flex-wrap: wrap;
        font-size: 18px;
    }
    .Container-gif #image-cat{
        width: 250px;
    }
    .Contact .Form .Form-container .Form-input{
        padding: 1em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .Main h2 {
        margin-bottom: 1.5rem;
    }

    .Main .About-me .Info-me {
        padding: 2rem;
    }

    .Main .About-me .Selfie-me {
        width: 100%;
    }

    .Main .About-me .Info-me p {
        padding: 1rem;
        font-size: 16px;
        margin: 0;
    }
}

@media screen and (max-width: 590px) {
    .Header{
        margin: 1rem;
    }
    .Proyect .Info-proyect {
        margin: 0;
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .Icons-Project .Proyect-icon .Project-icon-a{
        padding: 0;
    }
}

@media screen and (max-width: 458px) {
    p {
        font-size: 16px;
    }
    .Contact{
        padding: 2rem;
    }
    .Contact .Form .Form-container{
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .Header{
        margin: 0;
        margin-top: 1rem;
        padding: 1.5rem;
    }
    .Header a{
        padding: 0rem;
        font-size: 14px;
    }
    .Header-ul{
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    .Main h2 {
        font-size: 38px;
    }

    .Main .About-me .Info-me h2 {
        margin-bottom: 15px;
    }

    .Main .About-me {
        padding: 10px;
    }

    .Main .About-me .Selfie-me img {
        width: 190px;
    }

    .Proyect {
        margin: 1rem;
        padding: 0;
    }
    .Contact .Form .Form-container{
        padding: 0.1em;
    }
    .Contact{
        padding: 1rem;
    }
}