/* Fuentes */

@font-face {
    font-family: "Neue Montreal Bold";
    src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
    font-family: "Neue Montreal Medium";
    src: url("../fonts/NeueMontreal-Medium.otf");
}
@font-face {
    font-family: "Neue Montreal Regular";
    src: url("../fonts/NeueMontreal-Regular.otf");
}
@font-face {
    font-family: "Neue Montreal Light";
    src: url("../fonts/NeueMontreal-Regular.otf");
}

/* Variables globales */

:root {
    --color-fondo: #1F2426;
    --color-fondo2: #212227;
    --color-texto: #E6FAFC;
    --color-secundario: #BE1622;
    --color-terciario: #D9D9D9;
    --color-cuarteto: #7E6B8F;
    --padding-general: 4rem;
}

/* Reset de estilos 

* {
    padding: 0;
    margin: 0;
} */

/* Estilos generales del cuerpo */

body {
    font-family: "Neue Montreal Medium";
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

html {
    scroll-behavior: smooth;
}

.styled-hr {
    border: none; 
    border-top: 2px solid var(--color-terciario); 
    opacity: 0.3;
    width: 98%; 
    box-sizing: border-box; /* Asegura que el ancho incluye bordes y relleno */
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--color-texto);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-secundario);
    border-radius: 10px;
}

::selection {
    background-color: #7E6B8F; /* Cambia este color según tus preferencias */
}

h1, h2, h3 ,h4 {
    font-family: "Neue Montreal Bold"!important;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 42px;
}

p {
    font-family: 'Archivo', sans-serif !important;
    font-size: 18px;
    line-height: 1.5rem;
}

span{
    font-family: "Neue Montreal Medium"!important;
}

a {
    font-family: "Neue Montreal Medium"!important;
    color: var(--color-texto);
    text-decoration: none;
    transition: 500ms;
    cursor: url(../Cursor/Select\ cursor.png), auto;
}

a:hover {
    color: var(--color-secundario);
}

li {
    list-style: none;
}

input{
    font-family: "Neue Montreal Medium";
}

button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 150px;
    margin-top: 3em;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--color-fondo2);
    border-radius: var(--button_radius);
    padding: 0.75em 2.9em;
    background: var(--color-texto);
    color: var(--color-fondo2);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}

.dash{
    color: var(--color-secundario);
}

.up-page{
    width: 25px;
    margin: 1rem;
    margin-bottom: 1.8rem;
    padding: 0.5rem;
    background: var(--color-secundario);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}

.up-page:hover{
    background: var(--color-cuarteto);
}

/* Background */

.bg {
    position: fixed;
    z-index: -2;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}
  
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/* <!-- Header Nav -->  */

.Header {
    margin: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.Header-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #212227;
    box-shadow: 20px 20px 60px #0d0e10, -20px -20px 60px #35363e;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.Header-Logo{
    display: flex;
}

.Header-Logo .Header-li{
    padding: 0.5em;
    margin: 0.5em;
}

.Header-svg {
    all: unset;
    width: 2em;
    height: 2em;
}

.Header-social {
    display: flex;
    text-decoration: 3px underline #BE1622;
}

.Header-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header-li {
    margin: 0.5em;
    padding: 0.5em;
}

.language a:active{
    color: var(--color-secundario);
}

/* <!-- Banner --> */

.Banner-Bg {
    position: relative;
    /* z-index: -1; No se por que lo puse xd*/ 
    height: 70vh;
    /* overflow: hidden; */
    background-image: url(../img/icons/San\ José.svg);
    display: flex;
    width: 100%;
}

.Text-Banner {
    padding: var(--padding-general);
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 16vh;
}

.Text-Banner h1 {
    text-align: start;
    color: var(--color-texto);
    font-size: 120px;
    margin: 0.5rem;
}

.Text-Banner h2 {
    font-size: 100px;
    margin: 0.5rem;
}

.Text-Banner span {
    font-size: 32px;
    margin: 0.5rem;
}

/* <!-- Fondo del banner --> */

.area {
    background: #1F2426;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    /* height: 100vh; */
    opacity: 0.7;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* <!-- Main --> */

.Main {
    width: 100%;
    margin-bottom: 7.5rem;
    text-align: center;
}

.Section-marquee{
    padding-bottom: 1rem;
}

.Marquee-group{
    display: flex;
    justify-content: flex-start;
    background: var(--color-texto);
    overflow: hidden;
    padding: 1rem;
    z-index: 100;
}

.Marquee-group h2{
    margin: 0 !important;
    font-size: 36px;
    font-weight: 800;
    color: var(--color-fondo);
    white-space: nowrap;
    padding: 0 2.5rem;
    animation: move-rtl 15000ms linear infinite;
}

@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.Main h2 {
    font-size: 64px;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas pequeñas */
    justify-content: center;
    padding: var(--padding-general);
    text-align: left;
    gap: 20px; /* Añade espacio entre la información y la imagen */
}

.info-me {
    flex: 1; /* Hace que el contenido sea flexible y se ajuste automáticamente */
    padding: 2.5rem;
    background: #212227;
    border-radius: 40px;
    box-shadow: inset 5px 5px 0px #5a5a5a, inset -5px -5px 0px var(--color-secundario);
    display: flex;
    flex-direction: row; /* Asegura que los elementos dentro se dispongan en columna */
}

.info-me article {
    flex-grow: 1; /* Permite que el artículo crezca si hay espacio disponible */
}

.info-me p {
    width: 100%;
}

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: var(--color-terciario);
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.2s ease-in-out;
    display: inline-flex; /* Hace que el botón se ajuste a su contenido */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.btn-txt {
    color: var(--button_outline_color);
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.button:hover {
    color: var(--color-fondo);
    background-color: var(--color-secundario);
}


/* .image-container {
    max-width: 100%; /* Asegura que el contenedor no se desborde 
    height: auto;    /* Permite que la altura del contenedor se ajuste automáticamente 
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor 
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;    /* Hace que la imagen ocupe todo el ancho del contenedor 
    height: auto;   /* Mantiene la proporción de la imagen 
    display: block; /* Evita espacios en blanco debajo de la imagen 
} */

/* <-- Proyectos --> */

.Proyects{
    display: flex;
    flex-direction: column;
    padding: var(--padding-general);
}

.Proyect {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #212227;
    border-radius: 40px;
    box-shadow: inset 5px 5px 0px #5a5a5a, inset -5px -5px 0px var(--color-secundario);
}

.proyect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.img-proyect{
    width: 100%;
    height: auto;
}

.img-proyect img {
    width: 100%;
    height: auto;
}

.Proyect .Info-proyect {
    padding: 1rem;
    text-align: left;
    width: 100%;
    height: auto;
}

.Info-proyect h3{
    margin: 1rem;
}

.Info-proyect p{
    margin: 1rem;
}

/* <!-- Contact --> */

.Contact{
    display: flex;
    justify-content: center;
    padding: 3.5em;
}


/* <-- Footer --> */

.Footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--color-fondo2);
}

.Footer-div{
    background: var(--color-cuarteto);
}

.Footer p{
    transition: all 1s;
}

.Footer p:hover{
    font-size: 1.3em;
}

