/* Fuentes */

@font-face {
    font-family: "Neue Montreal Bold";
    src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
    font-family: "Neue Montreal Medium";
    src: url("../fonts/NeueMontreal-Medium.otf");
}
@font-face {
    font-family: "Neue Montreal Regular";
    src: url("../fonts/NeueMontreal-Regular.otf");
}
@font-face {
    font-family: "Neue Montreal Light";
    src: url("../fonts/NeueMontreal-Regular.otf");
}

/* Variables globales */

:root {
    --color-fondo: #1F2426;
    --color-fondo2: #212227;
    --color-texto: #E6FAFC;
    --color-secundario: #BE1622;
    --color-terciario: #D9D9D9;
    --color-cuarteto: #7E6B8F;
}

/* Reset de estilos 

* {
    padding: 0;
    margin: 0;
} */

/* Estilos generales del cuerpo */

body {
    font-family: "Neue Montreal Medium";
    background-color: var(--color-fondo);
    color: var(--color-texto);
    cursor: url(../Cursor/Cursor.png), auto;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px var(--color-texto);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-secundario);
    border-radius: 10px;
}

::selection {
    background-color: #7E6B8F; /* Cambia este color según tus preferencias */
}

h1, h2, h3 ,h4 {
    font-family: "Neue Montreal Bold"!important;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 42px;
}

p {
    font-family: 'Archivo', sans-serif !important;
    font-size: 18px;
}

span{
    font-family: "Neue Montreal Medium"!important;
}

a {
    font-family: "Neue Montreal Medium"!important;
    color: var(--color-texto);
    text-decoration: none;
    transition: 500ms;
    cursor: url(../Cursor/Select\ cursor.png), auto;
}

a:hover {
    color: var(--color-secundario);
}

li {
    list-style: none;
}

input{
    font-family: "Neue Montreal Medium";
}

button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 150px;
    margin-top: 3em;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--color-fondo2);
    border-radius: var(--button_radius);
    padding: 0.75em 2.9em;
    background: var(--color-texto);
    color: var(--color-fondo2);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}

.dash{
    color: var(--color-secundario);
}

.up-page{
    width: 25px;
    margin: 1rem;
    margin-bottom: 1.8rem;
    padding: 0.5rem;
    background: var(--color-secundario);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}

.up-page:hover{
    background: var(--color-cuarteto);
}

/* Background */

.bg {
    position: fixed;
    z-index: -2;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}
  
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/* <!-- Header Nav -->  */

.Header {
    margin: 3rem;
    margin-top: 1rem;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #212227;
    box-shadow: 20px 20px 60px #0d0e10, -20px -20px 60px #35363e;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.Header-nav {
    display: flex;
    justify-content: space-between;
}

.Header-Logo{
    display: flex;
}

.Header-Logo .Header-li{
    padding: 0.5em;
    margin: 0.5em;
}

.Header-button {
    all: unset;
    fill: var(--color-texto);
    display: none;
    cursor: pointer;
}

.Header-svg {
    all: unset;
    width: 2em;
    height: 2em;
}

.Header-social {
    display: flex;
    text-decoration: 3px underline #BE1622;
}

.Header-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header-li {
    margin: 0.5em;
    padding: 0.5em;
}

.language a:active{
    color: var(--color-secundario);
}

/* <!-- Banner --> */

.Banner-Bg {
    position: relative;
    z-index: -1;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/icons/San\ José.svg);
}

.Text-Banner {
    padding: 3.5em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30vh;
}

.Text-Banner h1 {
    text-align: start;
    color: var(--color-texto);
    font-size: 120px;
}

.Text-Banner h2 {
    font-size: 100px;
}

.Text-Banner span {
    font-size: 32px;
}

/* <!-- Fondo del banner --> */

.area {
    background: #1F2426;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* <!-- Main --> */

.Main {
    width: 100%;
    margin-bottom: 7.5rem;
    text-align: center;
}

.Section-marquee{
    padding-bottom: 7.5rem;
}

.Marquee-group{
    display: flex;
    justify-content: flex-start;
    background: var(--color-texto);
    overflow: hidden;
    padding: 1rem;
    z-index: 100;
}

.Marquee-group h2{
    margin: 0 !important;
    font-size: 36px;
    font-weight: 800;
    color: var(--color-fondo);
    white-space: nowrap;
    padding: 0 2.5rem;
    animation: move-rtl 15000ms linear infinite;
}

@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.Main h2 {
    font-size: 64px;
    margin-bottom: 5rem;
}

.Main .About-me {
    padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Main .About-me .Info-me {
    width: 60%;
    padding: 5rem;
    margin-right: 10rem;
    border-radius: 50px;
    background: #212227;
    box-shadow: 33px 33px 1px #0d0e10, -33px -33px 1px #35363e;
}

.Main .About-me .Info-me p {
    margin: 1rem;
    text-align: left;
}

.Main .About-me .Info-me .Form-button{
    margin-top: 5em;
    
}

.Form-button{
    text-align: center;
    display: flex;
    justify-content: center;
}

.Form-button input{
    margin-top: 1rem;
    border-radius: 10px;
}

.Main .About-me .Selfie-me {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main .About-me .Selfie-me h2 {
    margin-bottom: 0;
}

.Main .About-me .Selfie-me img {
    width: 400px;
}

/* <-- Proyectos --> */

.Proyects{
    display: flex;
    flex-direction: column;
}

.Proyects h2 {
    margin-top: 135px;
}

.Proyect {
    display: flex;
    padding: 3.5em;
    margin: 5rem;
    border-radius: 20px;
    background: #1F2426;
    box-shadow: inset 5px 5px 0px #0c0e0f, inset -5px -5px 0px #323a3d;
}

.Proyect .Img-proyect {
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Proyect .Img-proyect .Align-img{
    border-radius: 20px;
    border: 2px solid #7E6B8F;
    overflow: hidden;
}

.Proyect .Img-proyect .Align-img:hover{
    border: 2px solid var(--color-secundario);
}

.Proyect .Img-proyect img {
    max-width: 100%;
    height: auto; /* Esto asegura que la altura se ajuste proporcionalmente al ancho */
    cursor: url(../Cursor/Select\ Cursor.png), auto;
    transition: .3s ease-in-out;
}

.Proyect .Img-proyect img:hover{
    transform: scale(1.01);
    filter: grayscale(50%) blur(1px);
}

.Proyect .Info-proyect {
    margin: 1.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.Icons-Project {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Icons-Project .Proyect-icon .Project-icon-a {
    width: 100%;
    margin-top: 1em;
    padding: 0em 2em 0em 0em;
}

/* <!-- Contact --> */

.Contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3.5em;
}

.Contact .Form{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Contact .Form .Form-container{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(145deg, #1e1f23, #23242a);
    box-shadow:  5px 5px 2px #0d0e10,-5px -5px 2px #35363e;
}

.Contact .Form .Form-container .Form-input{
    margin: 1rem;
    padding: 1.5rem 0 1.5rem 1em;
    border-radius: 20px;
    border: 2px;
    border-color: var(--color-fondo);
    background: #212227;
    box-shadow: inset -5px 5px 10px #1a1b1f,
                inset 5px -5px 10px #28292f;
    color: var(--color-texto);
}

::placeholder {
    color: var(--color-texto); /* Cambia el color del marcador de posición a rojo */
}

.Contact .Form .Form-container .Form-input-message{
    height: 15vh;
    justify-content: center;
}

/* <-- Footer --> */

.Footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--color-fondo2);
}

.Footer-div{
    background: var(--color-cuarteto);
}

.Footer p{
    transition: all 1s;
}

.Footer p:hover{
    font-size: 1.3em;
}

